<form class="flexcol dnd5e" autocomplete="off">
  <!-- Statistics Tabs -->
  <nav class="tabs" data-group="primary-tabs">
    <a class="item" data-tab="stats"><i class="fas fa-dice-d20"></i> {{localize "midi-qol.RollStats"}}</a>
    <a class="item" data-tab="config"><i class="fas fa-cogs"></i> {{localize "midi-qol.RollStatsConfig"}}</a>
  </nav>


  <section id="stats-tabs" class="content">
    <!-- stats Tab -->
    <div class="tab" data-tab="stats">
      {{#each stats}}
      <div class="form-group">
        <div class="midi-qol-box" id={{@key}}>
          <div class="midi-qol-target-name" id="@key">
            <h4><i class="fas fa-arrows-alt-v"></i> {{this.name}}</h4>
          </div>
          <div id={{@key}}-X>
            <table>
              <thead>
                <tr>
                  <th colspan="7">Attacks</th>
                  <th colspan="2">Damage</th>
                </tr>
                <tr>
                  <th></th>
                  <th>#rolls</th>
                  <th>#Crits</th>
                  <th>#Fumb</th>
                  <th>#20s</th>
                  <th>#Hits</th>
                  <th>Ave</th>
                  <th>Total</th>
                  <th>Applied</th>
                </tr>
              </thead>
              <tbody style="text-align: center;">
                {{#with this.session}}
                <tr>
                  <td style="text-align: left;">
                    <h3>Session</h3>
                  </td>
                  <td>{{numAttacks}}</td>
                  <td>{{numAttackCritical}}</td>
                  <td>{{numAttackFumble}}</td>
                  <td>{{numAttack20}}</td>
                  <td>{{numDamageRolls}}</td>
                  <td></td>
                  <td>{{damageTotalAverage}}</td>
                  <td>{{damageAppliedAverage}}</td>

                </tr>
                {{/with}}
                {{#with this.lifetime}}
                <tr>
                  <td style="text-align: left;">
                    <h3>Lifetime</h3>
                  </td>
                  <td>{{numAttacks}}</td>
                  <td>{{numAttackCritical}}</td>
                  <td>{{numAttackFumble}}</td>
                  <td>{{numAttack20}}</td>
                  <td>{{numDamageRolls}}</td>
                  <td></td>
                  <td>{{damageTotalAverage}}</td>
                  <td>{{damageAppliedAverage}}</td>
                </tr>
                {{/with}}
                <div id={{@key}}-Items>
                  {{#each this.itemStats}}
                  <tr id={{@key}}-Items-X>
                    <td style="text-align: left;">
                      <h4>{{this.name}}</h4>
                    </td>
                    {{#with this.session}}
                    <td>{{numAttacks}}</td>
                    <td>{{numAttackCritical}}</td>
                    <td>{{numAttackFumble}}</td>
                    <td>{{numAttack20}}</td>
                    <td>{{numDamageRolls}}</td>
                    <td>{{attackRollAverage}}</td>
                    <td>{{damageTotalAverage}}</td>
                    <td>{{damageAppliedAverage}}</td>
                    {{/with}}
                  </tr>
                  {{/each}}
                </div>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <!-- stats Tab -->
    <div class="tab" data-tab="config">
      {{#if isGM}}
      <button type="button" name="clear" id="clear-stats">
        <i class="fas fa-save"></i> {{localize "midi-qol.ClearStats"}}
      </button>
      <button type="button" name="clear" id="end-session">
        <i class="fas fa-save"></i> {{localize "midi-qol.EndSession"}}
      </button>
      {{/if}}
      <div class="midi-qol-box">
        {{#each stats}}
        <button type="button" name="remove-{{this.name}}" id=remove-stats-{{@key}}>
          <i class="fas fa-cogs"></i> {{localize "midi-qol.RemoveStats"}} {{this.name}}
        </button>
        {{/each}}
      </div>
    </div>
  </section>
  <footer>
  </footer>
</form>